@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
Thin            100     
Extra Light     200
Light           300
Regular         400
Medium          500
Semi-Bold       600
Bold            700
Extra-Bold      800
Black           900
*/

html {
  background-image: url(Background.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}
body {
  background-repeat: repeat-x;
  background-position: center top;
  background-attachment: fixed;
  background-clip: content-box;
  margin: 0px 75px 0px 75px;
}
h1 {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 42px;
}
h2 {
  color: black;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  padding-left: 40px;
}
h3 {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 40px;
}
p {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  display: inline;
}

a {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  display: inline;
}

svg {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  user-select: none;
}

.Ring2 {
  padding-top: 90px;
}

.draggableLetter,
.draggable {
  cursor: pointer;
}

img {
  padding-top: 40px;
  padding-bottom: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto;
  margin-bottom: 30px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 22px;
  padding: 0px 5px;
  text-decoration: none;
}
li a:hover:not(.active) {
  text-decoration: underline;
}
.active {
  font-size: 22px;
  font-weight: 700;
}

video {
  width:"100%";
  margin-bottom: 30px;
  margin-top: 30px;
}

#ausdruck {
  font-size: 18px;
  font-weight: lighter;
  position: relative;
  text-align: right;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-width: 5%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 53%;
}

.containerBild {
  width: 50%;
  min-width: 5%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 80%;
}
.wrapper {
  background-color: transparent;
  margin-bottom: 20px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: none;
}
.toggle,
.content {
  font-family: 'Roboto';
}
.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}
.content {
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

.ausdruck-radar {
  margin-left: 200px;
  width: 50%;
  position: right;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.rechts {
  float: right;
  margin-right: 25px;
  margin-left: 25px;
  max-width: 300px;
  height: auto;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
