@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
Thin            100     
Extra Light     200
Light           300
Regular         400
Medium          500
Semi-Bold       600
Bold            700
Extra-Bold      800
Black           900
*/

html {
  background-image: url(/Images/Background.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}
body {
  background-repeat: repeat-x;
  background-position: center top;
  background-attachment: fixed;
  background-clip: content-box;
  margin: 0px 75px 0px 75px;
}
h1 {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 42px;
}
h2 {
  color: black;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  padding-left: 40px;
}
h3 {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 40px;
}
p {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  display: inline;
}

br {
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
}

a {
  color: black;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  display: inline;
}

svg {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 40px;
  user-select: none;
}

.Ring2 {
  padding-top: 90px;
}

.draggableLetter,
.draggable,
.pointable {
  cursor: pointer;
}

img {
  padding-top: 40px;
  padding-bottom: 40px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto;
  margin-bottom: 30px;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 22px;
  padding: 0px 5px;
  text-decoration: none;
}
li a:hover:not(.active) {
  text-decoration: underline;
}
.active {
  font-size: 22px;
  font-weight: 700;
}

video {
  width: 100%;
  max-width: 800px;

  margin-top: 30px;
}

/* LEXIKON */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  min-width: 5%;
  position: absolute;
  transform: translate(0%, 0%);
  top: 380px;
  background-color: transparent;
}

.wrapper {
  background-color: transparent;
  margin-bottom: 0px;
  padding: 0px 0px;
  box-shadow: none;
}
.toggle,
.content {
  font-family: "Roboto";
}
.toggle {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
}
.content {
  position: relative;
  font-size: 14px;
  text-align: left;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  transition: all 1s;
  z-index: 1;
}

.containerBild {
  display: flex;
  align-items: center;
  justify-content: left;
}

/*LEXIKON ENDE*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pie {
  fill: #8cc63f;
}
.cls-1 {
  fill: url(#radial-gradient);
}
.cls-2,
.cls-3 {
  fill: #aeacac;
}
.cls-3 {
  stroke: #aeacac;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}
.cls-4 {
  fill: #b3b3b3;
}
.cls-5 {
  font-size: 70px;
  font-family: Roboto-Regular, Roboto;
}
.cls-5,
.cls-6 {
  fill: #fff;
}
.cls-6 {
  font-size: 80px;
  font-family: Roboto-Bold, Roboto;
  font-weight: 700;
}
.cls-7 {
  letter-spacing: -0.01em;
}
.cls-8 {
  letter-spacing: -0.03em;
}
.cls-9 {
  font-size: 68px;
  fill: gray;
  font-family: Roboto-Light, Roboto;
  font-weight: 300;
}
.cls-10 {
  letter-spacing: -0.02em;
}
.cls-11 {
  letter-spacing: -0.01em;
}
.cls-12 {
  letter-spacing: -0.01em;
}

.cls-21 {
  font-size: 36px;
  font-family: Roboto-Light, Roboto;
  font-weight: 300;
}
.cls-21,
.cls-27 {
  fill: gray;
}
.cls-22 {
  letter-spacing: -0.01em;
}
.cls-23 {
  letter-spacing: -0.02em;
}
.cls-24 {
  letter-spacing: -0.01em;
}
.cls-25 {
  letter-spacing: -0.02em;
}
.cls-26 {
  letter-spacing: -0.05em;
}
.cls-27,
.cls-28 {
  stroke: gray;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cls-28 {
  fill: none;
}
.cls-29 {
  letter-spacing: -0.01em;
}
.cls-30 {
  letter-spacing: -0.01em;
}

.cls-19 {
  fill: gray;
}

.XRASP {
  font-size: 37px;
  font-family: Roboto-Bold, Roboto;
  font-weight: 300;
  fill: gray;
}
.festeBreite {
  max-width: 800px;
  margin: 0 auto;
}
